# Compilados
*.o
*.out
*.exe
main

# Archivos de debugging 
main.dSYM/

# Binarios grandes
data/*.bin
results/*.bin

# Sistema
.DS_Store

# VS Code
.vscode/

# Resultados temporales
results/*.csv
results/*.png
